/* General */
html{
    scroll-behavior: smooth;
}

body, html{
    margin: 0;
    font-family: helvetica,sans-serif;
}

p{
    font-size: 16pt;
    font-weight: 200;
    line-height: 25pt;
}

/* content */
#landingpage{
    display: flex;
    background-color: white;
    align-items: center;
}
#landingpage h1{
    margin: 0;
    font-size: 70px;
}
#landingpage p{
    color: gray;
}

.about{
    display: flex;
    background-color: #DDD;
}
    .about img{
        height: 500px;
        margin-right: 100px;
    }
.myVideo{
    width: 100vw;
}
#Photoshop{
    background: black;
    height: auto;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.gallery div{
    width: 25vw;
    height: 25vw;
    overflow: hidden;
}
.gallery img {
    object-fit: cover;
    width:100%;
}